body,html{
    margin: 0;
    height: 100%;
}




.grid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    /* min-height: 100%; */
}

#header, #section-2{
    min-height: 100%;
    width: 100%;
}

.show{
    position: absolute;
    background-image: url(img.jpg);
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.text{
    /* display: grid;
    grid-template-columns: auto; */
    text-align: center;
    grid-column: 2/4;
    /* justify-content: center;
    align-content: center; */
}

#h2-1{
      /* position: relative; */
    color: ghostwhite;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#p1{
    
    /* position: relative; */
    text-align: center;
    /* width: 800px; */
    padding: 0px 25px 20px;
    color: ghostwhite;
    font-size: 1.5em;
}

#h2-2{
    display: inline-block;
    border: solid #666;
    padding: 20px;
    background-color: #333;
    color: whitesmoke;
    font-size: 1.3em;
}

#h2-2:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: #000;
}
.title{
    font-size: 30px;
    text-transform: uppercase;
    color: teal;
    /* text-decoration-line: underline;
    text-decoration-color: #000;
    text-decoration-style: wavy; */
}

.content-text{
    padding: auto;
    font-size: 25px;
    columns: 2;
    column-gap: 2em;
}

#section-2{
    background-color: #333;
    margin-top: 30px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.card{
    background-color: whitesmoke;
  width: 270px;
 height: 500px;
}

li{
    padding: 1.5em 1em ;
    
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.card-content{
padding: 1em;
text-align: center;
}

.title{
    font-size: 30px;
}

.para{
    font-size: 20px;
}


.content{
    grid-column: span 2;
    padding: 1em;
    text-align: center;
    color: whitesmoke;
    margin-top: 30px;
    background-color: #333;
}

/* .f{

} */

.content:first-child{
    background-color: rgb(50, 49, 102);
}

#f{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-style: unset;
    /* grid-column: span 2; */
    padding: 2em;
    /* column-gap: 25em; */
}

#f div{
    grid-column: span 2;
}